---
import '@fontsource/poly';
import XV from "../images/XV.svg";
import bgOne from "../images/bg-one.png";
import bgTwo from "../images/bg-two.png";
import bgThree from "../images/valeBg.png";
import bgFour from "../images/bgfour.png";
import bgFive from "../images/bgfive.png";
import liverpool from "../images/lverpool.png";
import iconWhatsapp from "../images/whatsappicon.svg";
---
<style define:vars={{
	bg:`url("${bgOne.src}")`,
	bgtwo:`url("${bgTwo.src}")`,
	bgthree:`url("${bgThree.src}")`,
	bgfour:`url("${bgFour.src}")`,
	bgfive: `url("${bgFive.src}")`,}}>
.vale{
	background-image: var(--bg), linear-gradient(#F3A4A1, #FFC7C1);
	background-size: cover;
	background-position: center;
}

.bgtwo {
	background-image: var(--bgtwo), linear-gradient(#FFC7C1,#F3A4A1);
	background-size: cover;
	background-position: center;
}

.bgthree {
	background-image: var(--bgthree);
	background-size: cover;
	background-position: center;
}

.bgfour {
	background-image: var(--bgfour), linear-gradient(#F3A4A1, #FFC7C1);
	background-size: cover;
	background-position: center;
}

.bgfive {
	background-image: var(--bgfive), linear-gradient(#FFC7C1, #F3A4A1);
	background-size: cover;
	background-position: center;
}

body{
	font-family: 'poly';
}

</style>

<script>
	const boton = document.querySelector(".reproductor");
const audioEtiqueta = document.querySelector("audio");

boton.addEventListener("click", () => {
  const playing = boton.getAttribute("data-playing");

  if (!playing) {
    audioEtiqueta.src = "https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/redbone.mp3";
    audioEtiqueta.play();
    boton.setAttribute("data-playing", true);
  } else {
    audioEtiqueta.pause();
    boton.setAttribute("data-playing", false);
  }
});
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="overflow-y-scroll snap-y snap-mandatory sm:hidden">
			<div class="h-screen">
				<div class="vale w-screen h-screen snap-start snap-always flex flex-col justify-center py-4">
					<h2 class="text-center text-white mt-4">Festeja conmigo</h2>
					<div class="mx-auto py-44">
					<img class="" src={XV.src} alt="">
					<h2 class="text-center text-white">Valentina</h2>
				    </div>
					<div class="flex flex-col items-center">
					<div class="bg-white px-6 py-4 rounded-lg flex">
					<button class="reproductor">
						<svg xmlns="http://www.w3.org/2000/svg" class="play" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
						</svg>
					</button>
					<div class="w-px bg-black ml-3">
					</div>
					<div class="ml-2">
					<h3>Redbone</h3>
					<p class="text-xs text-gray-500">Childish Gambino</p>
					</div>
					</div>
					<audio src="audio.mp3"></audio>
				    </div>
				</div>
				<div class="bgtwo w-screen h-screen snap-start snap-always">
					<div class="text-white text-center mx-8">
					<div class="py-10">
						<h2>Hace XV años me regalaron la vida y una gran familia</h2>
					</div>
					<div class="text-center py-10">
						<h2 class="text-3xl">MIS PAPÁS</h2>
						<h2>Mario A. Montaño Roldan</h2>
						<h2>Sonia Torres Campa</h2>
				    </div>
					<div class="text-center py-10">
						<h2 class="text-3xl">MIS PADRINOS</h2>
						<h2>Mario A. Montaño Roldan</h2>
						<h2>Sonia Torres Campa</h2>
					</div>
					<div class="text-center py-10">
						<h2 class="text-3xl">DRESS CODE</h2>
						<h2>De etiqueta. El color blush esta reservado para la festejada</h2>
					</div>
				    </div>
				</div>
				<div class="bgthree w-screen h-screen snap-start snap-always">
				</div>
				<div class="bgfour w-screen h-screen bg-purple-300 snap-start snap-always flex flex-col justify-center">
					<div class="text-center text-white mx-8 py-10">
						<div>
							<h2 class="text-3xl">CEREMONÍA</h2>
							<p>10 DE FEBRERO | 17 hrs</p>
						</div>
						<div class="pt-4 pb-4">
							<p>Parroquia santa lima</p>
							<p>Av. Tamaulipas 179, Hipódromo Condesa, Cuauhtémoc, 06170 Ciudad de México, CDMX.</p>
						</div>
						<a href="">
							<div class="bg-[#B77976] w-full py-2 rounded-md">
								<p>Ir desde maps</p>
							</div>
						</a>
					</div>
					<div class="text-center text-white mx-8 py-10">
						<div>
							<h2 class="text-3xl">RECEPCIÓN</h2>
							<p>10 DE FEBRERO | 17 hrs</p>
						</div>
						<div class="pt-4 pb-4">
							<p>Salón de eventos festejando</p>
							<p>Av. Tamaulipas 179, Hipódromo Condesa, Cuauhtémoc, 06170 Ciudad de México, CDMX.</p>
						</div>
						<a href="">
							<div class="bg-[#B77976] w-full py-2 rounded-md">
								<p>Ir desde maps</p>
							</div>
						</a>
					</div>
				</div>
				<div class="bgfive w-screen h-screen bg-purple-300 snap-start snap-always flex flex-col justify-center">
					<div class="text-center text-white mx-8 py-10">
						<div>
							<img class="mx-auto" src={liverpool.src} alt="">
						</div>
						<div class="pt-4 pb-4">
							<p>No. de evento</p>
							<p>12345678</p>
						</div>
						<a href="">
							<div class="bg-[#B77976] w-full py-2 rounded-md">
								<p>Ver mesa de regalos</p>
							</div>
						</a>
					</div>
					<div class="text-center text-white mx-8 py-10">
						<div class="pt-4 pb-4 text-white">
							<p>Para:</p>
							<p class="text-4xl">Familia Torres</p>
							<p>Esta invitación incluye</p>
							<p class="text-[#754C4A]">5 boletos</p>
							<div class="h-px bg-white my-6"></div>
							<p class="my-6">Hay momentos en la vida que son especiales por si solos, compartirlos con las personas que quieres, los convierte en momentos inolvidables.</p>
						</div>
						<a class="pb-4" href="">
							<div class="border-[#764C4A] border-2 w-full py-2 rounded-md flex justify-center">
								<img class="mr-2" src={iconWhatsapp.src} alt="">
								<p class="text-[#764C4A]">Confirmar asistencia</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>	
	</body>
	</html>
